<form class="date-value-form" [formGroup]="formGroup" (ngSubmit)="onSubmitHandler()">

  <div class="form-controls">
    <!-- date -->
    <mat-form-field [floatLabel]="model.floatLabel"
                    [appearance]="model.appearance">
      <mat-label>{{model.formLabels.date}}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="getControl('date').invalid">{{getErrorMessage('date')}}</mat-error>
    </mat-form-field>

    <!-- value -->
    <mat-form-field [floatLabel]="model.floatLabel"
                    [appearance]="model.appearance"
                    hintLabel="Max 100 characters">
      <mat-label>{{model.formLabels.value}}</mat-label>
      <input matInput #lastNameInput formControlName="value">
      <mat-error *ngIf="getControl('value').invalid">{{getErrorMessage('value')}}</mat-error>
    </mat-form-field>
  </div>

  <div class="actions">
    <button mat-raised-button
            color="primary"
            type="button"
            [disabled]="formGroup.pristine"
            (click)="reset()">Reset</button>

    <button mat-raised-button
            type="submit"
            [disabled]="formGroup.invalid || formGroup.pristine"
            color="primary">Submit</button>
  </div>

</form>
