<guide-container [data]="data">

  <div class="indent p pad-bottom-20">
    TODO: Create schematic for this process.
  </div>

  <div class="indent p pad-bottom-20">
    This is a step-by-step guide to creating an angular material starter app using the latest
    versions of Angular, Material, and supporting technologies.
  </div>

  <div class="indent p pad-bottom-20">
    Built into the scripts of this process are the features:

    <ul>
      <li>Fix for Angular Material Schematics</li>
      <li>Adding Prettier</li>
      <li>Adding Gulp SemVer Tasks</li>
      <li>Adding Gulp SVG Tasks</li>
      <li>Localize Roboto and Material Icon fonts to have disconnected Electron apps.</li>
    </ul>
  </div>

  <!-- STOP HERE -->
  <h4-title [text]="'1. Add or Update Angular CLI'"></h4-title>

  <div class="indent">

    <p>
      Make sure you have the latest version of the
      <angular-cli></angular-cli>
      .
    </p>
    <p>
      To add or upgrade
      <angular-cli></angular-cli>
      .

      <code-bash-block [code]="cliNpm"></code-bash-block>
      <code-bash-block [code]="cliYarn"></code-bash-block>

    </p>
  </div>

  <h4-title [text]="'2. Name Your App'"></h4-title>

  <div class="indent p">
    <form [formGroup]="appForm">
      <div class="pad-bottom-20">
        <mat-form-field appearance="outline" [style.min-width]="'300px'">
          <mat-label>App Name</mat-label>
          <input matInput placeholder="my-app-name" formControlName="appName">
          <mat-hint>kebab case: my-app-name</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" [style.min-width]="'300px'">
          <mat-label>Component Prefix</mat-label>
          <input matInput placeholder="app" formControlName="prefix">
          <mat-hint>app</mat-hint>
        </mat-form-field>
      </div>

    </form>

  </div>

  <h4-title [text]="'3. Create your project'"></h4-title>

  <p class="indent p">
    <code-bash-block [code]="createProject"></code-bash-block>
  </p>

  <div class="indent p">
    Change directories into your project to finish setting up:
    <p>
      <code-bash-block [code]="cdIntoProject"></code-bash-block>
    </p>
  </div>

  <h4-title [text]="'4. Install @uiux/material'"></h4-title>

  <div class="indent p">
    <code-bash-block [code]="installYarn"></code-bash-block>
  </div>

  <div class="indent p">
    Run install script to copy configurations and install
    standard project packages.
    <code-bash-block [code]="installScript"></code-bash-block>
  </div>

  <h4-title [text]="'5. Install Schematic'"></h4-title>

  <div class="indent p">
    <code-bash-block [code]="installSchematic"></code-bash-block>
  </div>

  <h4-title [text]="'6. Update Package Scripts'"></h4-title>
  <div class="indent p">
    In the <code-json-inline [code]="'package.json'"></code-json-inline>
    file in the scripts node, remove the "lint" property and add the
    following:
    <code-json-block [code]="pkgScripts"></code-json-block>
  </div>

  <h4-title [text]="'7. Add Imports to Styles'"></h4-title>
  <div class="indent p">
    Make the following changes to the <code-bash-inline [code]="'./src/styles.scss'"></code-bash-inline> file.
  </div>
  <div class="indent p">
    Att the top of the file add the fonts import:
    <code-scss-block [code]="fontsImport"></code-scss-block>
  </div>

  <div class="indent p">
    Directly below the line  <code-scss-inline [code]="angularTheming"></code-scss-inline> add
    the the uiux theming:
    <code-scss-block [code]="uiuxTheming"></code-scss-block>
  </div>

  <div class="indent p">
    Directly below the line  <code-scss-inline [code]="matCore"></code-scss-inline> add
    the the ix-core:
    <code-scss-block [code]="ixCore"></code-scss-block>
  </div>

</guide-container>
