
@mixin primary-palette($palette) {
  $contrast: map-get($palette, contrast);
  $background: map-get($palette, background);

  .primary-50 {
    background-color: map-get($palette, 50);
  }

  @for $i from 1 through 9 {
    .primary-#{$i * 100} {
      background-color: map-get($palette, ($i * 100));
    }
  }

  .primary-A100 {
    background-color: map-get($palette, A100);
  }

  .primary-A200 {
    background-color: map-get($palette, A200);
  }

  .primary-A300 {
    background-color: map-get($palette, A300);
  }

  .primary-A400 {
    background-color: map-get($palette, A400);
  }

  .primary-A700 {
    background-color: map-get($palette, A700);
  }

  .primary-contrast-50 {
    background-color: map-get($contrast, 50);
  }

  @for $i from 1 through 9 {
    .primary-contrast-#{$i * 100} {
      background-color: map-get($contrast, ($i * 100));
    }
  }

  .primary-contrast-A100 {
    background-color: map-get($contrast, A100);
  }

  .primary-contrast-A200 {
    background-color: map-get($contrast, A200);
  }

  .primary-contrast-A300 {
    background-color: map-get($contrast, A300);
  }

  .primary-contrast-A400 {
    background-color: map-get($contrast, A400);
  }

  .primary-contrast-A700 {
    background-color: map-get($contrast, A700);
  }

  .primary-default {
    background-color: map-get($palette, default);
  }

  .primary-lighter {
    background-color: map-get($palette, lighter);
  }

  .primary-darker {
    background-color: map-get($palette, darker);
  }

  .primary-default-contrast {
    background-color: map-get($palette, default-contrast);
  }

  .primary-lighter-contrast {
    background-color: map-get($palette, lighter-contrast);
  }

  .primary-darker-contrast {
    background-color: map-get($palette, darker-contrast);
  }

  .primary-50-contrast {
    background-color: map-get($palette, 50-contrast);
  }

  @for $i from 1 through 9 {
    .primary-#{$i * 100}-contrast {
      background-color: map-get($palette, #{$i * 100}-contrast);
    }
  }

  .primary-A100-contrast {
    background-color: map-get($palette, A100-contrast);
  }

  .primary-A200-contrast {
    background-color: map-get($palette, A200-contrast);
  }

  .primary-A300-contrast {
    background-color: map-get($palette, A300-contrast);
  }

  .primary-A400-contrast {
    background-color: map-get($palette, A400-contrast);
  }

  .primary-A700-contrast {
    background-color: map-get($palette, A700-contrast);
  }

}
