
@mixin warn-palette($palette) {
  $contrast: map-get($palette, contrast);
  $background: map-get($palette, background);

  .warn-50 {
    background-color: map-get($palette, 50);
  }

  @for $i from 1 through 9 {
    .warn-#{$i * 100} {
      background-color: map-get($palette, ($i * 100));
    }
  }

  .warn-A100 {
    background-color: map-get($palette, A100);
  }

  .warn-A200 {
    background-color: map-get($palette, A200);
  }

  .warn-A300 {
    background-color: map-get($palette, A300);
  }

  .warn-A400 {
    background-color: map-get($palette, A400);
  }

  .warn-A700 {
    background-color: map-get($palette, A700);
  }

  .warn-contrast-50 {
    background-color: map-get($contrast, 50);
  }

  @for $i from 1 through 9 {
    .warn-contrast-#{$i * 100} {
      background-color: map-get($contrast, ($i * 100));
    }
  }

  .warn-contrast-A100 {
    background-color: map-get($contrast, A100);
  }

  .warn-contrast-A200 {
    background-color: map-get($contrast, A200);
  }

  .warn-contrast-A300 {
    background-color: map-get($contrast, A300);
  }

  .warn-contrast-A400 {
    background-color: map-get($contrast, A400);
  }

  .warn-contrast-A700 {
    background-color: map-get($contrast, A700);
  }

  .warn-default {
    background-color: map-get($palette, default);
  }

  .warn-lighter {
    background-color: map-get($palette, lighter);
  }

  .warn-darker {
    background-color: map-get($palette, darker);
  }

  .warn-default-contrast {
    background-color: map-get($palette, default-contrast);
  }

  .warn-lighter-contrast {
    background-color: map-get($palette, lighter-contrast);
  }

  .warn-darker-contrast {
    background-color: map-get($palette, darker-contrast);
  }

  .warn-50-contrast {
    background-color: map-get($palette, 50-contrast);
  }

  @for $i from 1 through 9 {
    .warn-#{$i * 100}-contrast {
      background-color: map-get($palette, #{$i * 100}-contrast);
    }
  }

  .warn-A100-contrast {
    background-color: map-get($palette, A100-contrast);
  }

  .warn-A200-contrast {
    background-color: map-get($palette, A200-contrast);
  }

  .warn-A300-contrast {
    background-color: map-get($palette, A300-contrast);
  }

  .warn-A400-contrast {
    background-color: map-get($palette, A400-contrast);
  }

  .warn-A700-contrast {
    background-color: map-get($palette, A700-contrast);
  }

}
