.theme-overview {
  .swatch-header {
    font-size: 1.10em;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  .demo-button {
    button, a {
      margin: 8px;
      text-transform: uppercase;
    }

    section {
      display: flex;
      align-items: center;
      margin: 8px;
    }

    p {
      padding: 5px 15px;
    }
  }

}

