
@mixin accent-palette($palette) {
  $contrast: map-get($palette, contrast);
  $background: map-get($palette, background);

  .accent-50 {
    background-color: map-get($palette, 50);
  }

  @for $i from 1 through 9 {
    .accent-#{$i * 100} {
      background-color: map-get($palette, ($i * 100));
    }
  }

  .accent-A100 {
    background-color: map-get($palette, A100);
  }

  .accent-A200 {
    background-color: map-get($palette, A200);
  }

  .accent-A300 {
    background-color: map-get($palette, A300);
  }

  .accent-A400 {
    background-color: map-get($palette, A400);
  }

  .accent-A700 {
    background-color: map-get($palette, A700);
  }

  .accent-contrast-50 {
    background-color: map-get($contrast, 50);
  }

  @for $i from 1 through 9 {
    .accent-contrast-#{$i * 100} {
      background-color: map-get($contrast, ($i * 100));
    }
  }

  .accent-contrast-A100 {
    background-color: map-get($contrast, A100);
  }

  .accent-contrast-A200 {
    background-color: map-get($contrast, A200);
  }

  .accent-contrast-A300 {
    background-color: map-get($contrast, A300);
  }

  .accent-contrast-A400 {
    background-color: map-get($contrast, A400);
  }

  .accent-contrast-A700 {
    background-color: map-get($contrast, A700);
  }

  .accent-default {
    background-color: map-get($palette, default);
  }

  .accent-lighter {
    background-color: map-get($palette, lighter);
  }

  .accent-darker {
    background-color: map-get($palette, darker);
  }

  .accent-default-contrast {
    background-color: map-get($palette, default-contrast);
  }

  .accent-lighter-contrast {
    background-color: map-get($palette, lighter-contrast);
  }

  .accent-darker-contrast {
    background-color: map-get($palette, darker-contrast);
  }

  .accent-50-contrast {
    background-color: map-get($palette, 50-contrast);
  }

  @for $i from 1 through 9 {
    .accent-#{$i * 100}-contrast {
      background-color: map-get($palette, #{$i * 100}-contrast);
    }
  }

  .accent-A100-contrast {
    background-color: map-get($palette, A100-contrast);
  }

  .accent-A200-contrast {
    background-color: map-get($palette, A200-contrast);
  }

  .accent-A300-contrast {
    background-color: map-get($palette, A300-contrast);
  }

  .accent-A400-contrast {
    background-color: map-get($palette, A400-contrast);
  }

  .accent-A700-contrast {
    background-color: map-get($palette, A700-contrast);
  }

}
