<guide-container [data]="data">
  <p class="indent bold">
    This documentation is a work in progress. See this <components-list></components-list> for all available components.
  </p>
  <p class="indent">
    The components part of this platform is NOT intended to be an exhausted supplement or alternative to Angular Material Components.
    Marching with Google, you should work hard to use established <angular-material></angular-material> components per <material-design></material-design> guidelines.
  </p>
  <p class="indent">
    The components in this platform are composites or alterations of Angular Material Components as required
    by edge business cases. The components platform is then a handy place to share this work.
    The majority of work in this platform may be found in the fn and supporting services.
  </p>
  <h3-title [text]="'Install'"></h3-title>
  <p class="indent">
    Care has been taken to keep a similar architecture to Angular Material. So you may install and use in
    the same manner.
  </p>
  <p class="indent">
    To install run:
    <code-bash-block [code]="'yarn install @uiux/material'"></code-bash-block>
  </p>
  <p class="indent">
    The rest is the same as the <angular-material-install></angular-material-install>. Add components to NgModules, etc.
  </p>
</guide-container>
