
.date-value-table {
  position: relative;

  .date-value-table-container {
    position: relative;

    table {
      width: 100%;
    }
  }

  .btn-delete {
    position: absolute;
    bottom: 8px;
    left: 10px;
  }
}
