<api-container [data]="data" [containerCssClass]="'.docs-has-value-api'">
  <div class="docs-has-value-api">
    <p>
      <code>hasValue</code> is an opinionated value check based on the type of data of the value.

      <h3-link [anchor]="values">Evaluation of Values:</h3-link>
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="valueType">
          <mat-header-cell *matHeaderCellDef>Value Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.valueType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="js">
          <mat-header-cell *matHeaderCellDef> JS </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.js}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="undefinedOrNull">
          <mat-header-cell *matHeaderCellDef> undefined / null </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element['undefined']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="empty">
          <mat-header-cell *matHeaderCellDef> empty </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element['empty']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="defined">
          <mat-header-cell *matHeaderCellDef> defined </mat-header-cell>
          <mat-cell *matCellDef="let element"> <span [ngClass]="{'color-accent': element['defined'] === 'true'}">{{element.defined}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="nonEmpty">
          <mat-header-cell *matHeaderCellDef> not empty </mat-header-cell>
          <mat-cell *matCellDef="let element"> <span [ngClass]="{'color-accent': element['nonEmpty'] === 'true'}">{{element['nonEmpty']}}</span> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

    </p>

    <p>
      <sup>1</sup> Scalar values such as numbers and booleans are <code>true</code> if they are defined. The boolean value of <code>false</code> and the number <code>0</code> evaluate <code>true</code> because they are defined ( they "have value").
    </p>

    <p>
      <sup>2</sup> An Array is not considered to "have value" unless it contains data ( non-empty array ).
    </p>

    <p>
      <sup>3</sup> An Object is not considered to "have value" unless it has properties ( non-empty object ).
    </p>

    <p>
      <sup>4</sup> A String is not considered to "have value" unless it has at least one character ( non-empty string ).
    </p>

    <title-example></title-example>
    <ts-file-viewer [url]="file"></ts-file-viewer>
  </div>
</api-container>

