<overview-container #overviewContainer [data]="data" [containerCssClass]="'.docs-menu-overview'">
  <div class="docs-menu-overview">
    <p>
      The <code>menu</code> component is an exact copy of
      <a-link [href]="'https://material.angular.io/components/menu/overview'">Material's Menu component</a-link>
      with the ability to add any type of content in the menu pop-over. You can trigger a close action from anywhere in the
      app -- whether inside the menu pop-over or outside.
    </p>

    <p>
      Note: by allowing any content inside the menu accessibility is no longer controlled or guaranteed. It is this
      reason the Material team did not include this feature.
    </p>

    <p>
      See
      <a-link [href]="'https://material.angular.io/components/menu/overview'"><code>mat-menu</code></a-link>
      for
      documentation on standard Material features.
    </p>

    <example-demo-viewer [title]="'Basic Example'"
                         [baseUrl]="'assets/examples/components/menu-example'"
                         [file]="'menu-example.component'">
      <app-menu-basic-example></app-menu-basic-example>
    </example-demo-viewer>
  </div>

</overview-container>
