<guide-container [data]="data">
  <h3-title [text]="'Project directory'"></h3-title>
  <p class="indent scroll-horizontal">
    The base of the Material directory is located in
    <code-bash-block [code]="'./projects/uiux/material'"></code-bash-block>
  </p>
  <p class="indent">
    <project-architecture></project-architecture>
  </p>
  <p>
    The best way to add to the project is to copy files and rename, or copy the
    structure when writing your own.
  </p>
  <p class="indent">
    Here are the important steps to wire up your new component.
  </p>

  <h4-title [text]="'1. Create a Module'"></h4-title>
  <p class="indent scroll-horizontal">
    Create your new component using the <code-bash-inline [code]="'--project @uiux/material'"></code-bash-inline> option:
    <code-bash-block [code]="'ng g module my-component --project @uiux/material'"></code-bash-block>
  </p>
  <p class="indent scroll-horizontal">
    In your <code-bash-inline [code]="'my-component.module.ts'"></code-bash-inline>, import the <angular-material></angular-material> &nbsp; <code-ts-inline [code]="'MatCommonModule'"></code-ts-inline>.
    <code-ts-block [code]="importMatCommonModule"></code-ts-block>
  </p>

  <h4-title [text]="'2. Create a Component'"></h4-title>
  <p class="indent scroll-horizontal">
    Create your new component using the <code-bash-inline [code]="'--project @uiux/material'"></code-bash-inline> option:
    <code-bash-block [code]="'ng g component my-component --project @uiux/material'">  </code-bash-block>
  </p>
  <p class="indent scroll-horizontal">
    Add Component Metadata so your component complies with <angular-material></angular-material> architecture:
    <code-ts-block [code]="componentMetaData"></code-ts-block>
  </p>
  <p class="indent scroll-horizontal">
    In your <code-bash-inline [code]="'my-component.module.ts'"></code-bash-inline>, export your component.
    <code-ts-block [code]="'exports: [MyComponentComponent],'"></code-ts-block>
  </p>

  <h4-title [text]="'3. Add a Service'"></h4-title>
  <p class="indent">
    Make your services singletons by default. The reasoning is dependent on your app ( not platform ) architecture.
    In some cases services may be instantiated multiple times. This is commonly seen in lazy loaded modules where
    a service is added to more than one module. To prevent this issue, it is best to make your platform services
    singletons by default.
  </p>
  <p class="indent">
    Two services are added in this tutorial to demonstrate a service consuming a dependent service using
    the singleton pattern.
  </p>
  <p class="indent scroll-horizontal">
    First, let's create a service that will be a dependency of another service.
    Create a service using the <code-bash-inline [code]="'--project @uiux/material'"></code-bash-inline> option:
    <code-bash-block [code]="'ng g service my-component/my-dependent-service --project @uiux/material'">  </code-bash-block>
  </p>
  <p class="indent scroll-horizontal">
    Create a <a-link [href]="'https://angular.io/guide/dependency-injection-in-action#!#providers'">provider</a-link>
    for <angular-io></angular-io> instantiate. Describing each part of this pattern is out of scope of this doc,
    see <a-link [href]="'https://angular.io/guide/dependency-injection-in-action#!#providers'">angular dependency injection docs</a-link>
    to learn more.

    <code-ts-block [code]="singletonDependencyService"></code-ts-block>
  </p>

  <p class="indent scroll-horizontal">
    Now let's create a service that consumes our dependent service.
    Create a service using the <code-bash-inline [code]="'--project @uiux/material'"></code-bash-inline> option:
    <code-bash-block [code]="'ng g service my-component/my-service --project @uiux/material'">  </code-bash-block>
  </p>
  <p class="indent scroll-horizontal">
    When making this service a singleton, inject the dependency service:
    <code-ts-block [code]="singletonService"></code-ts-block>
  </p>
  <p class="indent scroll-horizontal">
    Add providers to your <code-bash-inline [code]="'my-component.module.ts'"></code-bash-inline>
    <code-ts-block [code]="providersInModule"></code-ts-block>
  </p>

  <h4-title [text]="'4. Unit Tests'"></h4-title>
  <p class="indent">
    To run Unit Tests:

    <code-bash-block [code]="'yarn test.mat'"></code-bash-block>
    Note, building is not required for testing.
  </p>

  <h4-title [text]="'5. Lint'"></h4-title>
  <p class="indent">
    To run prettier and lint:

    <code-bash-block [code]="'yarn lint.mat'"></code-bash-block>
  </p>


  <h4-title [text]="'6. Building'"></h4-title>
  <p class="indent">
    Building is required to compile themes and to run demo's in the Doc app, and to distribute
    via NPM. To build, run:

    <code-bash-block [code]="'yarn build.mat'"></code-bash-block>
  </p>

  <h4-title [text]="'7. Document'"></h4-title>
  <p class="indent">
    See <see-doc-components></see-doc-components>.
  </p>

  <h4-title [text]="'8. Final Files'"></h4-title>
  <p class="indent">
    See files in sample folder.
  </p>
  <p class="indent scroll-horizontal">
    Component
    <code-ts-block [code]="finalComponent"></code-ts-block>
  </p>
  <p class="indent scroll-horizontal">
    Module
    <code-ts-block [code]="finalModule"></code-ts-block>
  </p>
  <p class="indent scroll-horizontal">
    Dependent Service
    <code-ts-block [code]="myDependentService"></code-ts-block>
  </p>
  <p class="indent scroll-horizontal">
    Service
    <code-ts-block [code]="myService"></code-ts-block>
  </p>

</guide-container>
