<div>

  <h3-title [text]="'PoC: D3 In A ShadowDom'"></h3-title>

  <div class="p indent pad-bottom-20">
    This proof of concept is to wrap d3 in a ShadowDom to see if performance
    and memory can be improved. See <a-link [href]="chartSample1">this example</a-link>
    and <a-link [href]="chartSample2">this example</a-link>
    for references on how these charts are built. See <a-link [href]="sourceCode">source code</a-link> for the charts below.

  </div>

  <div class="p indent pad-bottom-20">
    <poc-shadow-dom-bar-form [init]="bars" (onsubmit)="onBarsSubmit($event)"></poc-shadow-dom-bar-form>
  </div>


  <poc-d3-bar-chart [data]="data" [width]="width" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="width" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="width" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="width" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="width" [height]="500"></poc-d3-bar-chart>
</div>
