<div>

  <h3-title [text]="'D3 in ShadowDom'"></h3-title>

  <div class="p indent pad-bottom-20">
    This Proof Of Concept or experiment is to wrap d3 in a ShadowDom to improve
    render performance and manage memory of the browser.
  </div>

  <div class="p indent pad-bottom-20">
    Below are 5 charts with 1000 bars each.
  </div>

  <div class="p indent pad-bottom-20">
    See <a-link [href]="'https://bl.ocks.org/caravinden/d04238c4c9770020ff6867ee92c7dac1'">This Example</a-link>
    and <a-link [href]="'https://bl.ocks.org/caravinden/raw/d04238c4c9770020ff6867ee92c7dac1/'">This Example</a-link>
    for references on how these charts are built.
  </div>

  <poc-d3-bar-chart [data]="data" [width]="1200" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="1200" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="1200" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="1200" [height]="500"></poc-d3-bar-chart>
  <poc-d3-bar-chart [data]="data" [width]="1200" [height]="500"></poc-d3-bar-chart>
</div>
