<guide-container [data]="data">
  <h3-title [text]="'About This Platform'"></h3-title>
  <p class="indent">
    Sharing code should be convenient and simple. This platform utilizes Google tools such as the
    <a-link [href]="'https://github.com/angular/angular-cli'">@angular/cli</a-link> to build the
    platform projects and documentation app. In other words, the same tools as you would build a
    production app.
  </p>
  <p class="indent">
    As you develop in your production app, you may want to share a module, component, etc. It should
    take minimal effort to "drop" into this architecture, wire to the platform to publish to NPM, unit test,
    document, and share.
  </p>

  <h3-title [text]="'Install Peer Dependencies'"></h3-title>
  <!--<code-bash-inline [snippet]="'yarn add lodash-es@4.17.8 immutable@3.8.2'"></code-bash-inline>-->

  <p class="indent">Using the @angular/cli for a new project will install the correct version of RxJS. If you are
    using an older project, RxJS needs to be at a minimum version of <i>5.5.10</i>:</p>

  <p class="indent">
    <code-bash-inline [code]="'yarn upgrade rxjs@5.5.10'"></code-bash-inline>
  </p>


  <h3-title [text]="'Install Platform'"></h3-title>
  <p class="indent">
    <code-bash-inline [code]="'yarn add @uiux/cdk @uiux/material'"></code-bash-inline>
  </p>
</guide-container>

