<mat-tab-group [spShow]="showTabs"
               [selectedIndex]="selectedIndex"
               (selectedTabChange)="selectTab($event)"
               class="doc-tab-group"
>
  <mat-tab label="OVERVIEW">
    <div class="push-top-20 pad-left-10">
      <ng-template appOverviewHost></ng-template>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div class="push-top-20 pad-left-10">
      <ng-template appApiHost></ng-template>
    </div>
  </mat-tab>
  <mat-tab label="EXAMPLES">
    <div class="push-top-20 pad-left-10">
      <ng-template appExampleHost></ng-template>
    </div>
  </mat-tab>
</mat-tab-group>

