<guide-container [data]="data">
  <h3-title [text]="'A place to brainstorm'"></h3-title>
  <p>
    Proof of Concepts ( PoC ) are a way to flesh out concepts for anything -- algorithms, material based components,
    data services, etc. It's a playground to brainstorm.
  </p>
  <p>
    There is a specific place to add PoCs ( per instructions below )
    that allow fast testing and development. The reason is that if you develop directly in a platform project, you have
    to build to test and create demos ( time consuming ). PoCs are built directly into the doc app allowing more rapid developing.
    There is no risk merging to master as PoCs are not published to NPM. But they will be published to the doc sever for
    peer feedback. Hence code reviews may be used for brain storming just like standards checking.
  </p>
  <p>
    Once a PoC is ready to be published, it may be migrated to it's appropriate place in the platform.
  </p>
  <p>
    Using The Sample PoC ( See left menu ) for instructions...
  </p>

  <h3-title [text]="'How to add a PoC'"></h3-title>
  <h4-title [text]="'1. Add a route and config nav-items.ts'"></h4-title>
  <div class="indent">
    <p>
      Add the PoC config in the file
      <code-bash-inline [code]="'src/configs/nav-items.ts'"></code-bash-inline>
      . You may copy a config from the another section, and configure
      for your PoC.
    </p>
  </div>

  <h4-title [text]="'2. Add an Angular Component to Contain PoC'"></h4-title>
  <div class="indent">
    <p>
      Add your PoC to the appropriate directory
      <code-bash-inline [code]="'./src/app/views/poc/demos/sample-poc'"></code-bash-inline>.
    </p>
  </div>

  <h4-title [text]="'3. Add route to guides-routing.module.ts'"></h4-title>

  <div class="indent">
    <p>
      In the file
      <code-bash-inline [code]="'src/app/views/poc/poc-routing.module.ts'"></code-bash-inline>
      add your route. Make sure your url route matches your config route in
      <code-bash-inline [code]="'src/configs/nav-items.ts'"></code-bash-inline>.
    </p>
    <p>
      For example:
    </p>
    <code-ts-block [code]="routeSnippet"></code-ts-block>
  </div>

  <h4-title [text]="'4. Importing Platform Dependencies'"></h4-title>
  <div class="indent">
    When building your Proof of Concept, keep all dependencies <i>you create</i> in
    the same directory as your PoC directory ( For Example: <code-bash-inline [code]="'./src/app/views/poc/demos/sample-poc'"></code-bash-inline> ).
  </div>
  <div class="indent">
    Import this platform's dependencies as if they are installed -- tsconfig.json will map to the platform projects.
    <code-ts-block [code]="platformImports"></code-ts-block>
  </div>

  <h4-title [text]="'5. Building Your PoC'"></h4-title>
  <div class="indent">
    Build something awesome!
  </div>

  <h4-title [text]="'5. Migrate to platform'"></h4-title>
  <div class="indent">
    Move your fully tested ( ahem! ) PoC to the appropriate place in the platform ( cdk, material, etc ). Move
    your demos to the appropriate doc view. Document. Done.
  </div>
</guide-container>
