<div class="docs-viewer-content">
  <guide-viewer [data]="data"
                [containerCssClass]="containerCssClass"
                (contentLoaded)="onContentLoaded()">
    <ng-content></ng-content>
  </guide-viewer>
  <table-of-contents #tocGuideViewer
                     *ngIf="showToc"
                     headerSelectors="h2,h3,h4"
                     [scrollContainer]="'.mat-sidenav-content'"
                     [data]="data"
                     [contentContainer]="'.docs-guide-viewer-cmp-content'"></table-of-contents>
</div>
