<guide-container [data]="data">
  <p class="indent">
    Icons are created using <a-link [href]="'https://www.sketchapp.com/'">Sketch</a-link> and exported as a single svg file.
    It is best to build only one icon per Sketch file. Other tools are available to concatenate icon svg files into one
    file for loading by Material.
  </p>

  <h3-title [text]="'Create / Copy Sketch file'"></h3-title>
  <p class="indent push-top-20">
    Save a sketch file in this directory <code-bash-inline [code]="'./projects/uiux/icons/custom/_design/'"></code-bash-inline>.
    You may copy a file as well, but save as a different name.
  </p>

  <h3-title [text]="'Draw your Icon'"></h3-title>
  <p class="indent push-top-20">
    See the <a-link [href]="'https://www.sketchapp.com/docs/'">Sketch Docs</a-link> to learn how to use Sketch.
  </p>
  <p class="indent push-top-20">
    Use max dimensions of 24px x 24px. Add a border that is not visible to ensure dimensions when loading icons in your app.
    A good source for reference is downloading a <a-link [href]="'https://material.io/tools/icons/?style=baseline'">material svg icon</a-link> and import into your sketch file to see how it's built.
  </p>

  <h3-title [text]="'Export SVG'"></h3-title>
  <p class="indent push-top-20">
    See the <a-link [href]="'https://www.sketchapp.com/docs/'">Sketch Docs</a-link> to learn how to export svg code.
  </p>
  <p class="indent">
    Save your svg file to an appropriate sub-directory from this directory - <code-bash-inline [code]="'./projects/uiux/icons/custom'"></code-bash-inline>.
  </p>

  <h3-title [text]="'Use Your Icon'"></h3-title>
  <p class="indent push-top-20">
    See <see-also [ref]="'install-svg-icons'"></see-also> guide.
  </p>
</guide-container>
