<guide-container [data]="data">

  <h3-title [text]="'Design'"></h3-title>

  <div class="indent">
    <h4-link [anchor]="'mat-pinterest'" class="theme-resource-h4-link">
      <a-link [href]="'https://material.io/'">material.io</a-link>
    </h4-link>

    <p>
      Design guidelines to developer components
    </p>
  </div>

  <div class="indent">
    <h4-link [anchor]="'mat-pinterest'" class="theme-resource-h4-link">
      <a-link [href]="'https://www.pinterest.com/jerryortadev/material-design/'">Pinterest - Material Design</a-link>
    </h4-link>

    <p>
      Pins of Material Design examples.
    </p>
  </div>

  <h3-title [text]="'Color'"></h3-title>

  <div class="indent">
    <h4-link [anchor]="'mat-pinterest'" class="theme-resource-h4-link">
      <a-link [href]="'https://material.io/guidelines/style/color.html#color-color-palette'">Color Palette</a-link>
    </h4-link>

    <p>
      The Material Design color system can be used to create a color theme that reflects your brand or style.
    </p>
  </div>

  <h3-title [text]="'CSS'"></h3-title>

  <div class="indent">
    <h4-link [anchor]="'Ultimate CSS Gradient Generator'" class="theme-resource-h4-link">
      <a-link [href]="'http://www.colorzilla.com/gradient-editor/'">Ultimate CSS Gradient Generator</a-link>
    </h4-link>

    <p>
      A powerful Photoshop-like CSS gradient editor from <a-link [href]="'http://www.colorzilla.com/'">ColorZilla</a-link>.
    </p>
  </div>

</guide-container>
