<guide-container [data]="data">

  <h3-title [text]="'Design'"></h3-title>
  <div class="indent pull-top-10">
    <a-link [href]="'https://material.io/'">material.io</a-link>
    <div class="push-bottom-25 push-top-5">Design guidelines to developer components</div>


  </div>

  <h3-title [text]="'Color'"></h3-title>
  <div class="indent pull-top-10">
    <a-link [href]="'https://material.io/guidelines/style/color.html#color-color-palette'">Color Palette</a-link>
    <div class="push-bottom-25 push-top-5">The Material Design color system can be used to create a color theme that reflects your brand or style.</div>


  </div>

</guide-container>
