<guide-container [data]="data">

  <h3-title [text]="'Design'"></h3-title>

  <div class="indent">
    <h4-link [anchor]="'material-design-guide'" class="theme-resource-h4-link">
      <a-link [href]="'https://material.io/'">material.io</a-link>
    </h4-link>

    <p>
      Design guidelines to developer components
    </p>
  </div>

  <div class="indent">
    <h4-link [anchor]="'pinterest-material-design'" class="theme-resource-h4-link">
      <a-link [href]="'https://www.pinterest.com/jerryortadev/material-design/'">Pinterest - Material Design</a-link>
    </h4-link>

    <p>
      Pins of Material Design examples.
    </p>
  </div>

  <div class="indent">
    <h4-link [anchor]="'hud-elements'" class="theme-resource-h4-link">
      <a-link [href]="'https://www.pinterest.com/jerryortadev/hud-elements/'">Pinterest - HUD Elements</a-link>
    </h4-link>

    <p>
      Pins of HUD Elements used for examples of complex UI's.
    </p>
  </div>

  <div class="indent">
    <h4-link [anchor]="'ui-data-visualization'" class="theme-resource-h4-link">
      <a-link [href]="'https://www.pinterest.com/jerryortadev/ui-data-visualization/'">Pinterest - Data Visualization</a-link>
    </h4-link>

    <p>
      Pins of Data Visualization.
    </p>
  </div>

  <div class="indent">
    <h4-link [anchor]="'music-uis'" class="theme-resource-h4-link">
      <a-link [href]="'https://www.pinterest.com/jerryortadev/music-ui/'">Pinterest - Music UI</a-link>
    </h4-link>

    <p>
      Pins of UI related to music.
    </p>
  </div>

  <div class="indent">
    <h4-link [anchor]="'admin-templates'" class="theme-resource-h4-link">
      <a-link [href]="'https://www.pinterest.com/jerryortadev/admin-templates/'">Pinterest - Admin Templates</a-link>
    </h4-link>

    <p>
      Pins of UI related to Admin.
    </p>
  </div>

  <h3-title [text]="'Color'"></h3-title>

  <div class="indent">
    <h4-link [anchor]="'material-color-palette'" class="theme-resource-h4-link">
      <a-link [href]="'https://material.io/guidelines/style/color.html#color-color-palette'">Material Color Palette</a-link>
    </h4-link>

    <p>
      The Material Design color system can be used to create a color theme that reflects your brand or style.
    </p>
  </div>

  <h3-title [text]="'CSS'"></h3-title>

  <div class="indent">
    <h4-link [anchor]="'ultimate-css-gradient-generator'" class="theme-resource-h4-link">
      <a-link [href]="'http://www.colorzilla.com/gradient-editor/'">Ultimate CSS Gradient Generator</a-link>
    </h4-link>

    <p>
      A powerful Photoshop-like CSS gradient editor from <a-link [href]="'http://www.colorzilla.com/'">ColorZilla</a-link>.
    </p>
  </div>

</guide-container>
