@import '../node_modules/@angular/material/theming';
@import '../projects/uiux/material/src/lib/core/theming/_all-theme';

//@import './app/pages/component-category-list/component-category-list-theme';
//@import './app/pages/component-list/component-list-theme';
//@import './app/pages/component-sidenav/component-sidenav-theme';
//@import './app/pages/component-viewer/component-viewer-theme';
//@import './app/pages/guide-list/guide-list-theme';
@import 'app/pages/homepage/homepage-theme';
@import './app/shared/util-components/doc-viewer/example-demo-viewer/example-demo-viewer-theme';
//@import './app/shared/footer/footer-theme';
@import './app/components/navbar/navbar-theme';
//@import './app/shared/table-of-contents/table-of-contents-theme';
@import './styles/api-theme';
@import './styles/markdown-theme';
@import './styles/svg-theme';
@import './styles/tables-theme';
@import './app/shared/doc-components/api-container/api-viewer/api-title/api-title.theme';
@import './app/shared/doc-components/caution/caution.component.theme';
@import './app/shared/util-components/table-of-contents/table-of-contents-theme';
@import './app/pages/icons/custom/search-icons/search-icons.component.theme';
@import './app/pages/themes/demos/theme-overview/themes-overview.component.theme';
@import './assets/examples/components/menu-example/menu-example.component.theme';

// Styles for the docs app that are based on the current theme.
@mixin material-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  .color-primary {
    color: mat-color($primary, 500);
  }

  .color-accent {
    color: mat-color($accent, 500);
  }

  .link-primary {
    color: mat-color($primary, 500);
    text-decoration: none;
  }

  .docs-app-background {
    background: mat-color($background, background);
  }

  .docs-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .docs-button[md-button], .docs-button[md-raised-button] {
    text-transform: uppercase;
  }

  .mat-sidenav {
    width: 290px;
  }

  .sidenav-container {
    flex: 1 0 auto;

    .sidenav-menu {
      display: flex;
      flex: 0 1 auto;

      // sidenav menu
      & > div {
        width: 100%;

        .mat-expansion-panel {
          background-color: if($is-dark, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));

          .mat-expansion-panel-header {
            //height: 36px !important;

            .mat-expansion-panel-header-title {
              font-weight: 400;
            }
          }


        }
      }

      .sidenav-button {

        color: mat-color($foreground, secondary-text);
        text-decoration: none;

        display: block;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 4px;
        padding-bottom: 4px;

        &.docs-component-viewer-sidenav-item-selected,
        &:hover {
          color: mat-color($primary);
          //background-color: if($is-dark, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
        }
      }
    }
  }

  .layout-resources {
    h4-link {
      display: block;
      margin-left: 0 !important;

      .docs-header-link {
        margin-top: 15px;
        margin-bottom: 0 !important;

        a {
          //margin-left: -20px !important;
          margin-right: 25px;
        }
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }


  //@include component-category-list-theme($theme);
  //@include component-list-theme($theme);
  //@include component-viewer-sidenav-theme($theme);
  //@include component-viewer-theme($theme);
  @include docs-site-api-theme($theme);
  @include docs-site-markdown-theme($theme);
  @include docs-site-svg-theme($theme);
  @include docs-site-tables-theme($theme);
  @include example-demo-viewer-theme($theme);
  //@include footer-theme($theme);
  //@include guide-list-theme($theme);
  @include home-page-theme($theme);
  @include nav-bar-theme($theme);
  @include api-title-theme($theme);
  @include table-of-contents-theme($theme);
  @include caution-theme($theme);
  @include search-icons-cmp-theme($theme);

  @include themes-theme($theme);
  @include menu-example($theme);
  //@include table-of-contents-theme($theme);
}
