
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '../dist/@uiux/material/theming';

// Plus imports for other components in your app.
@import './styles/cutom-palettes';
@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';
// Plus imports for other shared in your app.
@import './styles/fonts/font.styles';
@import './styles/mixins/theme-overrides';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@include ix-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$uiux-material-primary: mat-palette($mat-indigo);
$uiux-material-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$uiux-material-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$uiux-material-theme: mat-light-theme($uiux-material-primary, $uiux-material-accent, $uiux-material-warn);

// Include theme styles for core and each component used in your  app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($uiux-material-theme);
@include ix-material-theme($uiux-material-theme);
@include material-app-theme($uiux-material-theme);
@include theme-override-classes($uiux-material-theme);
/* You can add global styles to this file, and also import other style files */



body { margin: 0; }
body {
  //background-color: black;
  //color: white;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  //background-color: map-get($deep-blue, 900);
  //line-height: 1.5em;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

//h1, h2 {
//  font-weight: 400;
//}
//
//h2 {
//  font-size: 1.5em;
//}
//
//h3 {
//  font-size: 26px;
//  font-weight: 200;
//}

p {
  //margin-bottom: 15px;
  line-height: 1.75;

}

.indent {
  padding-left: 20px;
}
.bold {
  font-weight: 600;
}
.p {
  line-height: 1.75;
}
.scroll-horizontal {
  overflow-x: scroll;
}


.width-perc-100 {
  width: 100%;
}

.firstcharacter {
  float: left;
  font-size: 48px;
  line-height: 48px;
  padding-top: 4px;
  padding-right: 8px;
  width: 48px !important;
  height: 48px !important;
}

.app-route-animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidenav-container {
  height: 100%;
}
